* {

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;

}

header {

    background-color: rgb(95, 42, 124);
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

}

img {

    width: 300px;

}

.ok {

    background-color: white;
    padding: 10px;
    max-width: 200px;
    width: 200px;
    text-align: center;
    border-radius: 5px;
    font-size: 25px;
    font-family: 'Ibarra Real Nova', serif;

}

#botoesheader {

    display: flex;
    flex-direction: row;
    margin-left: 20px;
    margin-right: 20px;

}

#linksDoCabecalho, #linksDoCabecalhoo {

    margin-right: 20px;
    margin-left: 20px;
    color: rgb(95, 42, 124);

}

#linksDoCabecalho:hover, #linksDoCabecalhoo:hover {

    opacity: 0.7;
    transition: 1s;

}

.ok3 {

    margin-top: 50px;
    text-align: center;
    font-family: 'Great Vibes', cursive;
    font-size: 125px;

}

.traço1 {

    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 50px;

}

.traço1-1 {

    width: 1000px;
    
}

#NossosAdolecentes1, #NossosAdolecentes2, #NossosAdolecentes3, #NossosAdolecentes4, #NossosAdolecentes5, #NossosAdolecentes6, #NossosAdolecentes7 {

    border-radius: 100px;
    margin: 10px;

} 

#NossosAdolecentes11, #NossosAdolecentes22, #NossosAdolecentes33, #NossosAdolecentes44, #NossosAdolecentes55, #NossosAdolecentes66, #NossosAdolecentes77 {

    border-radius: 15px;
    width: 300px;

} 

#NossosAdolecentes {

    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;

}


@keyframes animacaoimg {

    0%, 20%, 60%, 100% {

        -webkit-transform: transleteY(0);
        transform: translateY(0);
    
    }

    40% {

        -webkit-transform: transleteY(-20px);
        transform: translateY(-20px);

    }

    80% {

        -webkit-transform: transleteY(-10px);
        transform: translateY(-10px);

    }

}

@keyframes animacaoimg2 {

    0%, 20%, 60%, 100% {

        -webkit-transform: transleteY(0);
        transform: translateY(0);
    
    }

    40% {

        -webkit-transform: transleteY(-10px);
        transform: translateY(-10px);

    }

    80% {

        -webkit-transform: transleteY(-5px);
        transform: translateY(-5px);

    }

}

#NossosAdolecentes1:hover {

    animation: animacaoimg 1s;

}

#NossosAdolecentes2:hover {

    animation: animacaoimg 1s;

}

#NossosAdolecentes3:hover {

    animation: animacaoimg 1s;

}

#NossosAdolecentes4:hover {

    animation: animacaoimg 1s;

}

#NossosAdolecentes5:hover {

    animation: animacaoimg 1s;

}

#NossosAdolecentes6:hover {

    animation: animacaoimg 1s;

}

#NossosAdolecentes7:hover {

    animation: animacaoimg 1s;

}

footer {

    margin-top: 50px;
    background-color: rgb(95, 42, 124);
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    padding: 20px;

}
